node_modules/
./ToolTest/build/
./ToolTest/config/
./ToolTest/index.html
./ToolTest/node_modules/
./ToolTest/package.json
./ToolTest/package-lock.json
./ToolTest/README.md
./ToolTest/static/
./ToolTest/tsconfig.json
./ToolTest/tslint.json
./ToolTest/src/App.vue
./ToolTest/src/src/assets/
./ToolTest/srccomponents/
./ToolTest/srcmain.ts
./ToolTest/srcrouter/
./ToolTest/srcstore/
./ToolTest/srcvue-shim.d.ts